%%html
<script id="sphere">

  class sphere extends CGRAmod{
    constructor(glcontext,colors){
      super(glcontext); // initialize the parent class

      var oneLayer = 100;
      var LayerLength = 100;
      this.numvertices = oneLayer*3*2*LayerLength;
      this.vertices = [];
      this.colors = [];
      var x_vertice = 0;
      var y_vertice = 0;
      var z_vertice = 0;
      this.colors = [];

      for(var j = 0; j<LayerLength; j++){
        for (var i = 0; i< oneLayer; i++){
          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*j)*Math.cos(2*Math.PI/LayerLength*i);
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*j)*Math.sin(2*Math.PI/LayerLength*i);
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*j);
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);

          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);
          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*j)*Math.cos(2*Math.PI/LayerLength*(i+1));
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*j)*Math.sin(2*Math.PI/LayerLength*(i+1));
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*j);
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);
          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);
          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.cos(2*Math.PI/LayerLength*(i));
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.sin(2*Math.PI/LayerLength*(i));
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*(j+1));
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);
          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);

          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j))*Math.cos(2*Math.PI/LayerLength*(i+1));
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j))*Math.sin(2*Math.PI/LayerLength*(i+1));
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*(j));
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);
          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);
          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.cos(2*Math.PI/LayerLength*(i+1));
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.sin(2*Math.PI/LayerLength*(i+1));
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*(j+1));
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);
          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);
          x_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.cos(2*Math.PI/LayerLength*(i));
          y_vertice = 0.5*Math.sin(Math.PI/LayerLength*(j+1))*Math.sin(2*Math.PI/LayerLength*(i));
          z_vertice = 0.5*Math.cos(Math.PI/LayerLength*(j+1));
          this.vertices.push(x_vertice);
          this.vertices.push(y_vertice);
          this.vertices.push(z_vertice);
          this.colors.push(colors[0]);
          this.colors.push(colors[1]);
          this.colors.push(colors[2]);


        }
      };

      this.vertexbuffer=this.gl.createBuffer();
      this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.vertexbuffer);
      // as JS stores everything in 64 bit format and GL expects 32bits...
      this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(this.vertices), this.gl.STATIC_DRAW);

      this.colorbuffer = this.gl.createBuffer();
      this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.colorbuffer);
      // as JS stores everything in 64 bit format and GL expects 32bits...
      this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(this.colors), this.gl.STATIC_DRAW);
    }
  }
</script>