%%html
<script id="triangle">

    class triangle extends CGRAmod{
        constructor(glcontext,colors){
            super(glcontext)

            this.numvertices = 3;
            this.colors = [];
            this.vertices =
                [-0.5, 0.0, 0,
                    0.5, 0.0, 0,
                    0.0, 0.5, 0];

            for(var i = 0; i<this.numvertices;i++){
                this.colors.push(colors[0]);
                this.colors.push(colors[1]);
                this.colors.push(colors[2]);
            }

            this.vertexbuffer=this.gl.createBuffer();
            this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.vertexbuffer);

            this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(this.vertices), this.gl.STATIC_DRAW);

            this.colorbuffer = this.gl.createBuffer();
            this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.colorbuffer);

            this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(this.colors), this.gl.STATIC_DRAW);

        }
    }

</script>